
.index-bg-div{
	width: 100%;
	min-height: 600px;
	min-width: 1024px;
}


.index-bg-div .choice-div{
	position: absolute;
	top:50%;
	left: 0%;
	width: 100%;
	margin-top: -70px;
	z-index: 999;
	height: 0px;
	min-width: 1024px;
}
.index-bg-div .choice-div a{
	display:inline-block;
	font-size:30px;
	width: 40px;
	height: 70px;
	line-height:70px;
	text-align:center;
	background:rgba(0,0,0,0.3);
	color:rgba(255,255,255,1);
	font-family: iconfont;
	font-style: normal;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
}
.index-bg-div .choice-div a:hover{
	background:rgba(0,0,0,0.5);
}
.index-bg-div .choice-div .prev-btn{
	float: left;
	border-radius: 0px 3px 3px 0px;
}
.index-bg-div .choice-div .next-btn{
	float: right;
	border-radius: 3px 0px 0px 3px;
}

.index-bg-div .shuffling-div{
}
